# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
*.java
*.java
src/main/java/com/maideniles/maidensmaterials/init/blocks/CustomBrickBlock.java
src/main/java/com/maideniles/maidensmaterials/init/blocks/gem/BlockGemStorage.java
